{% load static %}
<head>
    <meta name="robots" content="noindex" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'playerevals/style.css' %}">
</head>

<div class="card">

    <h1>Progress</h1>
    <div class="colorstrip"></div>
</br>
    <div>
        <table>
            {% for key, values in status.items %}
            <tr>
                <td width=100px>{{key}}</td>
                {% for v in values %}
                <th width=100px><input type=checkbox onclick="return false;" onkeydown="return false;" {% if v %}checked{% endif %}/><br>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

</div>